# Prerequisites

In [5]:
%load_ext sql

In [9]:
import pandas as pd
import boto3
import json

import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB=config.get("CLUSTER", "DB_NAME")
DWH_DB_USER=config.get("CLUSTER", "DB_USER")
DWH_DB_PASSWORD=config.get("CLUSTER", "DB_PASSWORD")
DWH_PORT=config.get("CLUSTER", "DB_PORT")

# Connect to database

In [10]:
DWH_ENDPOINT='dwhcluster.cwhjgv9pze5h.us-west-2.redshift.amazonaws.com'
DWH_ROLE_ARN='arn:aws:iam::154961475727:role/dwhRole'

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cwhjgv9pze5h.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## How many songs where listened to per session overall?

In [11]:
%sql SELECT session_id, COUNT(song_id) as no_of_songs_listend_to FROM songplays GROUP BY session_id ORDER BY no_of_songs_listend_to DESC LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cwhjgv9pze5h.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(589, 117),
 (221, 117),
 (984, 113),
 (324, 111),
 (672, 110),
 (293, 103),
 (1041, 97),
 (619, 95),
 (605, 94),
 (548, 83)]

## Which are the Top 10 songs listened to?

In [14]:
%%sql 
SELECT song_id, title, COUNT(songplay_id) as no_listened
FROM songplays
JOIN songs USING(song_id)
GROUP BY song_id, title
ORDER BY no_listened DESC LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cwhjgv9pze5h.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SODGVGW12AC9075A8D', 'Somebody To Love', 52),
 ('SOPXKYD12A6D4FA876', 'Yellow', 48),
 ('SOBONKR12A58A7A7E0', "You're The One", 37),
 ('SOTWSXL12A8C143349', 'Love Story', 36),
 ('SOSPXWA12AB0181875', 'Bubble Toes', 32),
 ('SOULTKQ12AB018A183', "Nothin' On You [feat. Bruno Mars] (Album Version)", 32),
 ('SONIQRE12AF72A2B02', 'Bring Me To Life', 28),
 ('SOBXHDL12A81C204C0', 'Stronger', 28),
 ('SOWCKVR12A8C142411', 'Use Somebody', 28),
 ('SOSXLTC12AF72A7F54', 'Revelry', 27)]